*{
	border:0;
	margin:0;
	padding:0;
}

body{
	font-family:tahoma, verdana, sans;
	background-color:#b59e41;
	color:white;
	margin:10px;
}

h1{
	color:#6e4511;
	margin:10px;
}

p{
	padding:10px;
}

a{
	color:yellow;
}

ol{
	margin:10px 10px 10px 50px;
}

ul{
	margin:10px 10px 10px 50px;
}

a:hover{
	color:orange;
}

pre{
	margin:10px auto 10px 0;
	width:90%;
	padding:10px;
}

#wrapper{
	background-color:#826c13;
	border:10px solid #d1ac18;
	width:600px;
	margin:20px auto 20px auto;
}