body{
    margin:30px;
    font-family:verdana, sans;
    color:#333;
    background: #fff; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ACACAC', endColorstr='#DFDFDF'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ACACAC), to(#DFDFDF)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ACACAC,  #DFDFDF); /* for firefox 3.6+ */ 
    height:800px;
}

#wrapper{
    width:640px;
    margin:20px auto 20px auto;
    padding:20px;
    background-color:#fff;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

#wrapper_inner{
    margin:10px;
}

#logo{
    width:600px;
    display:block;
    margin:10px auto 10px auto;
}

h1{
    color:#999;
    margin:10px;
}

div{
    padding:10px;
}

pre{
    font-size:0.8em;
    background-color:#333;
    color:lime;
    padding:5px;
    margin:10px;
    font-family:tahoma, verdana, sans;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}