###################
##   Rewrites    ##
###################

RewriteEngine On
RewriteBase /
RewriteRule .* index.html

#if anyone is still bookmarked an old framework page with .php or .asp extension, then redirect to home
RewriteCond %{REQUEST_URI} !gateway.php$
RewriteCond %{REQUEST_URI} \.(php|asp)$
RewriteRule ^(.*)$ http://%{HTTP_HOST} [R=301,L]

RewriteCond %{HTTP_HOST} !roswellpark\.org$
RewriteRule ^(.*)$ http://%{HTTP_HOST}.roswellpark.org/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !gateway.php$
RewriteCond %{HTTP_COOKIE} !rticketi
RewriteRule .* http://ntlm-ticket-writer.roswellpark.org?r=%{HTTP_HOST}%{REQUEST_URI}?%{QUERY_STRING} [R=302,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule .* gateway.php [L]

#####################
## PHP vars        ##
#####################

php_flag display_errors 1
php_value error_reporting 6143
php_flag short_open_tag 1
php_flag magic_quotes_gpc 0

php_flag  log_errors on
#php_value error_log  /absolute/path/to/php_error.log

##needed for flash uploads to work on mac
php_value session.name SBF_ID

php_value post_max_size 80M
php_value upload_max_filesize 10M

### file types to use as directory indexes
<IfModule mod_dir.c>
DirectoryIndex gateway.php index.php index.html index.htm
</IfModule>

#set default charset
AddDefaultCharset UTF-8

#####################
##Add Expiration ####
#####################

<IfModule mod_expires.c>  
	<FilesMatch "\.(gif|jpe?g|png|swf|css|js)">
		##set long expiration date
		ExpiresActive on
		ExpiresDefault "access plus 1 month"
		
	</FilesMatch>
</IfModule>

##add file etags
FileETag MTime Size

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule>

# Make sure proxies don't deliver the wrong content
Header append Vary User-Agent env=!dont-vary

